@import url("reset.css");
@import url("./css/style.css");


/* ------banner------- */
.banner{
    position: relative;
    padding-bottom: 100px;
    top: 120px;
    /* box-sizing: border-box; */
}

.banner h2{
    text-align: left;
    color: #ffffff;
    /* padding-top: 300px; */
    /* padding-left: 954px; */
    /* right: 200px; */
    /* padding-left: 65%; */
    text-shadow: rgba(75, 75, 75, .5) 0px 0 10px;
    position: absolute;
    right: 8%;
    top: 200px;
    z-index: 2;
}

/* ------輪播------ */

html,
body {
    /* position: relative; */
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
}

.swiper {
    width: 100%;
    height: 420px;
    /* top: 120px; */
    /* margin-bottom: 100px; */
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-button-next,
.swiper-button-prev{
    color: #AAAAAA !important;
}

.swiper-button-next::after,
.swiper-button-prev::after{
    --swiper-navigation-size: 40px;
}

/* 改點點顏色 */
:root {
    --primary-green:#AAAAAA;
}
.swiper-pagination-bullet {
    background: var(--primary-green) !important;
}

/* ------title------ */

.title{
    display: flex;
    justify-content: center;
    /* width: 100%; */
    margin: 80px auto 40px;
    padding-top: 20px;
    /* text-align: center; */
    /* overflow: hidden; */
    /* box-sizing: border-box; */
}

.title img{
    width: 30px;
    padding-right: 16px;
}

h1{
    color:#78AA8C;
    font-size: 20px;
    font-weight: 700;
    display: inline-block;
    /* line-height: 1; */
    /* align-items: center; */
}

/* ------content------ */

.content{
    max-width: 1200px;
    margin: 0px auto;
    text-align: center;
}


.content ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 50px;
}

.content li{
    /* flex-grow: 1; */
    margin: 20px 10px;
}

.product li:nth-child(2), .product li:nth-child(4){
    padding-top: 60px;
}

.content img{
    margin-bottom: 10px;
}

.content a, h3{
    margin-bottom: 6px;
    box-sizing: border-box;
}

.content a {
    text-decoration: none;
    color: #4B4B4B;
    display: block;
}

.content a:hover {
    color: #78AA8C;
    transform: scale3d(1.05, 1.05, 1.05);
    transition: all .5s;
    z-index: -1;
}

.content a img:hover {
    opacity: .8;
}
.content img{
    /* border-radius: 40px; */
    /* width: 280px; */
    /* height: 280px; */
}

/* body div:nth-child(8){
    margin-bottom: 300px;
} */

.content p {
    color: #AAAAAA;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: .1rem;
    width: 238px;
    margin: 0 auto;
}

.service li{
    /* margin: 20px 40px; */
    flex-grow: 1;
    /* display: none; */
    opacity: auto;
}

.service li img{
    width: 160px;
}

.s_animation{
    display: block;
    animation: service 1s 1 ease-out forwards;
}

@keyframes service {
    0% {
        opacity: 0;
        scale: .9;
    }

    100% {
        opacity: 1;
        scale: 1;
    }
}



/* ------- RWD ------- */

@media screen and (max-width: 1220px) {
    .swiper {
        height: 380px;
    }
    .banner h2{
        top: 180px;
    }
    .content{
        /* max-width: 640px; */
        margin: 0px 40px;
    }
    .content img{
        width: 250px;
        margin-bottom: 6px;
    }
    .service img{
        width: 160px;
    }
    .content a, h3 {
        margin-bottom: 5px;
    }
    .content p{
        width: 210px;
    }
}

@media screen and (max-width: 1160px) {
    .content {
        margin: 0px 34px;}

    .content img {
        width: 230px;}

    .service li img {
        width: 150px;}

 }

@media screen and (max-width: 1110px) {
    .swiper {
        height: 340px;
        /* margin-bottom: 170px; */
    }
    .banner h2{
        top: 160px;
        right: 10%;
        font-size: 14px;
    }
    .content {
        margin: 0px 20px;}
        .content li {
            margin: 20px 5px;
        }
    .content img {
        width: 230px;}
}


@media screen and (max-width: 1000px) {
    .content img {
        width: 220px; 
        margin-bottom: 4px;
    }
    .service li img {
        width: 140px;
    }
    .content p{
        width: 190px;
    }
    .content a, h3 {
        margin-bottom: 3px;
    }
}

@media screen and (max-width: 960px){
    .content{
        max-width: 660px;
        margin: 0px auto;
    }
    .content img{
        width: 260px;
    }
    .product li:nth-child(2), .product li:nth-child(4){
        padding-top: 0px;
    }
}

@media screen and (max-width: 820px){
    body{
        font-size: 15px;
    }
}

/* --- 開始手機版 --- */

@media screen and (max-width: 790px) {
    body {
        /* font-size: 16px; */
    }
    .swiper {
        height: 280px;
        /* margin-bottom: 170px; */
    }
    .swiper-button-next::after,
    .swiper-button-prev::after {
    --swiper-navigation-size: 30px;
    }
    .banner h2{
        top: 130px;
        right: 12%;
        font-size: 13px;
    }
    .title img{
        width: 28px;
        padding-right: 12px;
    }
    h1{
        font-size: 18px;
    }
    .service li{
        margin: 0 6px;
    }
    .service li img{
        width: 120px;
    }
    .content {
        max-width: 600px;
    }
    .content li{
        margin: 12px auto;
    }
    .content img{
        width: 240px;
    }
    .content p{
        width: 160px;
        font-size: 13px;
    } 
    .news{
        letter-spacing: .07rem;
    }
    .logo_f {
        content: url(./img/LOGO_white.svg);
        padding-top: 6px;
        width: 56px;
    }
}

@media screen and (max-width: 650px){
    .title{
        margin: 60px auto 22px;
    }
    .content {
        max-width: 520px;
    }
    .content img{
        width: 200px;
        margin-bottom: 0px;
    }
}

@media screen and (max-width: 550px){
    .swiper{
        height: 250px;
        /* margin-bottom: 160px; */
    }
    .swiper-button-next::after,
    .swiper-button-prev::after {
    --swiper-navigation-size: 22px;
    }
    .banner h2{
        right: 24%;
        top: 120px;
    }
    .title img{
        width: 24px;
        padding-right: 10px;
    }
    h1{
        font-size: 17px;
    }
    .service li img{
        width: 110px;
    }
    .content {
        max-width: 440px;
    }
    .content img{
        width: 180px;
    }
    .content p{
        width: 160px;
        font-size: 12px;
    } 
}

@media screen and (max-width: 450px){
    .content {
        max-width: 360px;
    }
    .content img {
        width: 150px;
    }
    .banner h2{
        right: 20%;
    }
    .service li img{
    width: 100px;
    }
}

