@import url("reset.css");
@import url("../css/style.css");



/* ------content------ */

.table {
    width: 600px;
    height: 520px;
    border-radius: 50px;
    border: 3px solid #4B4B4B;
    margin: 200px auto;
    box-sizing: border-box;
}

.content {
    width: 400px;
    height: 600px;
    margin: 80px auto;
    display: block;
}

.table h1 {
    color: #78AA8C;
    text-align: center;
    font-weight: 700;
    margin-bottom: 60px;
    font-size: 20px;
    letter-spacing: .3rem;
}

.input input {
    border: 1px solid #AAAAAA;
    border-radius: 20px;
    width: 400px;
    height: 60px;
    margin: 30px 0 20px 0;
    padding-left: 60px;
    box-sizing: border-box;
    display: block;

    font-size: 18px;
    font-weight: 300;
    color: #4B4B4B;
    background-repeat: no-repeat;
    background-position: 20px 16px;
    background-size: 26px;
    background-image: url(../img/icon/mail.png);
}


.table p {
    font-size: 14px;
    font-weight: 300;
    padding-left: 8px;
    letter-spacing: .1rem;
}

/* 按鈕 */
.content input[type="submit"]{
    background-color:#78AA8C;
    color: #ffffff;
    font-size: 18px;
    letter-spacing: .5rem;
    display: block;
    margin: 50px auto;
    width: 280px;
    height: 56px;
    border-radius: 16px;
    border: none;
} 

.content input[type="submit"]:hover {
    background-color: #DC7878;
}







