@import url("reset.css");
@import url("../css/style.css");



/* ------content------ */

.table {
    width: 600px;
    height: 570px;
    border-radius: 50px;
    border: 3px solid #4B4B4B;
    margin: 200px auto;
    box-sizing: border-box;
}

.content {
    width: 400px;
    height: 600px;
    margin: 80px auto;
    display: block;
}

.table h1 {
    color: #78AA8C;
    text-align: center;
    font-weight: 700;
    margin-bottom: 60px;
    font-size: 20px;
    letter-spacing: .3rem;
}

.input input {
    /* border: 1px solid #AAAAAA;
    border-radius: 20px;
    width: 400px;
    height: 60px;
    margin: 30px 0 20px 0;
    padding-left: 60px;
    box-sizing: border-box;
    display: block;

    font-size: 18px;
    font-weight: 300;
    color: #4B4B4B;
    background-repeat: no-repeat;
    background-size: 22px;
    background-image: url(../img/icon/lock.png),
                      url(../img/icon/eye_off.png);
    background-position: 20px 15px,
                        354px 15px; */
}

.content .input1, .content .input2 {
    display: flex;
    border: 1px solid #AAAAAA;
    border-radius: 20px;
    width: 400px;
    height: 60px;
    margin: 30px 0 20px 0;
    /* padding: 0px 0px 0px 20px; */
    box-sizing: border-box;

    font-size: 18px;
    font-weight: 300;
    color: #4B4B4B;
}

input {
    outline: 0;
}

.input1 input, .input2 input{
    border: none;
    width: 300px;
    height: 58px;
    padding-left: 14px;
    box-sizing: border-box;

    font-size: 18px;
    font-weight: 300;
    color: #4B4B4B;
    line-height: 60px;
}

.content .input1 img, .content .input2 img {
    height: 24px;
    padding: 15px 4px 0 22px;
}

.input1 i, .input2 i {
    width: 57px;
    height: 60px;
    /* border: 1px solid #AAAAAA; */
    text-align: center;
    line-height: 60px;
    font-size: 18px;
    /* box-sizing: border-box; */
}

.input1 .fa-eye-slash, .input2 .fa-eye-slash {
    border-left: 0;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
    color: #AAAAAA;
}

.input1 .fa-eye-slash:hover, .input2 .fa-eye-slash:hover {
    color: #333;
}

 /* 按鈕 */
.content input[type="submit"] {
    background-color: #78AA8C;
    color: #ffffff;
    font-size: 18px;
    letter-spacing: .5rem;
    display: block;
    margin: 50px auto;
    width: 280px;
    height: 56px;
    border-radius: 16px;
    border: none;
}

.content input[type="submit"]:hover {
    background-color: #DC7878;
}

/* ------- RWD ------- */

@media screen and (max-width: 820px) {
    body {
        font-size: 15px;
    }
}

/* --- 開始手機版 --- */

@media screen and (max-width: 790px) {
    .table {
        width: 520px;
        height: 440px;
        border-radius: 36px;
    }

    .content {
        width: 360px;
        margin: 50px auto;
    }

    .table h1 {
        font-size: 18px;
        margin-bottom: 40px;
    }

    .content input {
        font-size: 16px;
    }

    .content .input1,
    .content .input2 {
        border-radius: 14px;
        width: 360px;
        height: 50px;
        background-size: 18px;
        margin: 22px 0 16px 0;

    }

    .content .input1 img, .content .input2 img {
        height: 20px;
        padding: 12px 4px 0 22px;
    }

    .input1 input, .input2 input {
        height: 48px;
    }

    .content i {
        line-height: 48px;
        font-size: 16px;
    }


    /* 登入按鈕 */
    .content input[type="submit"] {
        font-size: 15px;
        width: 240px;
        height: 46px;
        border-radius: 12px;
    }


}

@media screen and (max-width: 650px) {
    .table {
        width: 500px;
    }
}

@media screen and (max-width: 550px) {
    .table {
        width: 400px;
        height: 320px;
        border: 2px solid;
        border-radius: 30px;
    }

    .content {
        width: 300px;
        margin: 34px auto;
    }

    .table h1 {
        font-size: 16px;
        margin-bottom: 20px;
    }

    .content input {
        font-size: 14px;
    }

    .content .input1,
    .content .input2 {
        border-radius: 12px;
        width: 300px;
        height: 46px;
        background-size: 16px;
        margin: 18px 0 10px 0;
    }

    .content .input1 img,
    .content .input2 img {
        height: 17px;
        padding: 13px 4px 0 22px;
    }

    .input1 input,
    .input2 input {
        height: 44px;
    }

    .content i {
        line-height: 46px;
        font-size: 14px;
    }


    /* 登入按鈕 */
    .content input[type="submit"] {
        font-size: 13px;
        width: 200px;
        height: 38px;
        border-radius: 10px;
        margin: 40px auto;
    }

}

@media screen and (max-width: 450px) {
    .table {
        width: 340px;
        height: 292px;
        border-radius: 26px;
    }

    .content {
        width: 260px;
        margin: 30px auto;
    }

    .table h1 {
        font-size: 15px;
        margin-bottom: 18px;
    }

    .content input {
        font-size: 13px;
    }

    .content .input1,
    .content .input2  {
        width: 260px;
        height: 44px;
        background-size: 14px;
        margin: 16px 0 8px 0;
    }

    .content .input1 img,
    .content .input2 img {
        height: 16px;
        padding: 13px 0px 0 16px;
    }

    .input1 input,
    .input2 input {
        height: 42px;
    }

    .content i {
        line-height: 42px;
        font-size: 12px;
    }

    /* 登入按鈕 */
    .content input[type="submit"] {
        font-size: 12px;
        width: 180px;
        height: 34px;
        margin: 30px auto;
    }

}