@import url("reset.css");
@import url("../css/style.css");



/*------ all_content------ */
/* .all_content{
    margin: 0 auto ;
    display: flex;
    position: relative;
} */

/* ------左側選單------ */

.main{
    max-width: 1198px;
    display: flex;
    margin-top: 200px;
    margin-left: 16%;
}
.vip_menu{
    /* position: absolute; */
    /* top: 240px; */
    /* left: 20%; */
    /* position: fixed; */
    /* margin: 0px 15%; */
}

.vip_menu h1 {
    color: #78AA8C;
    text-align: center;
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 18px;
    letter-spacing: .3rem;
}

.vip_menu a{
    text-decoration: none;
    line-height: 2.2;
    display: block;
    color: #4B4B4B;
}

.vip_menu a:hover{
    opacity: .7;
}
/* 該頁左側字綠色 */
.vip_menu a:last-child{
    color: #78AA8C;
} 

.vip_menu img{
    padding-left: 10px;
    padding-bottom: 10px;
    width: 60px;
}

/* ------content------ */

.table {
    width: 600px;
    height: 900px;
    border-radius: 50px;
    border: 3px solid #4B4B4B;
    margin: 0px auto 200px 16%;
    box-sizing: border-box;
}

.content {
    width: 500px;
    height: 1000px;
    margin: 60px auto;
    display: block;
}

.table h1 {
    color: #78AA8C;
    text-align: center;
    font-weight: 700;
    margin-bottom: 30px;
    font-size: 20px;
    letter-spacing: .3rem;
}

.table ul {
    display: flex;
    /* padding-bottom: 40px; */
}

.table span {
    font-size: 18px;
    padding: 0px 10px 0 10px;
}

.input1 span:nth-child(5){
    letter-spacing: -.03rem;
    /* Email */
}

.content .input1 input, .input2 input {
    border: 1px solid #AAAAAA;
    border-radius: 20px;
    width: 400px;
    height: 60px;
    margin: 20px 0 10px 0;
    padding-left: 30px;
    box-sizing: border-box;
    display: block;

    font-size: 18px;
    font-weight: 300;
    color: #4B4B4B;
    background-image: url(../img/icon/edit.png);

    background-repeat: no-repeat;
    background-position: 354px 15px;
    background-size: 24px;
    display: inline-table;
}

/* 除了姓名不能編輯 */
.input1 input:nth-child(2){
    background-image: none;
} 


.gender {
    display: flex;
    align-items: center;
    /* height: 60px; */
}

/* .gender ul {
    display: flex;
    align-items: center;
    height: 60px;
    padding-left: 100px;
} */

.gender span {
    padding-right: 20px;
}

.gender input {
    width: 30px;
    height: 30px;
    /* padding-left: 100px; */
    /* display: block; */
}

.gender li {
    display: flex;
    align-items: center;
    height: 60px;
}

.gender label {
    /* display: block; */
    font-size: 18px;
    padding: 0px 20px 0 10px;
    align-items: center;
}




.birthday{
    align-items: center;
}

.birthday span{
    padding-right: 18px;
}

.birthday select{
    border: 1px solid #AAAAAA;
    border-radius: 20px;
    width: 121px;
    height: 60px;
    margin: 10px 18px 0px 0;
    padding-left: 20px;
    /* box-sizing: border-box; */
    /* display: block; */

    font-size: 18px;
    font-weight: 300;
    color: #4B4B4B;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-image: url(../img/icon/V.png);
    background-repeat: no-repeat;
    background-position: 85px 20px;
    background-size: 18px;
}

/* 儲存按鈕 */
.content input[type="submit"]{
    background-color: #78AA8C;
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    letter-spacing: .5rem;
    display: block;
    margin: 40px auto 20px;
    width: 280px;
    height: 56px;
    line-height: 52px;
    border-radius: 16px;
    border: none;
} 

.content input[type="submit"]:hover {
    background-color: #DC7878;
}








