@import url("reset.css");
@import url("../css/style.css");



/*------ all_content------ */
/* .all_content{
    margin: 0 auto ;
    display: flex;
    position: relative;
} */

/* ------左側選單------ */

.vip_menu{
    /* position: absolute; */
    top: 270px;
    left: 20%;
    position: fixed;
    /* margin: 0px 15%; */
}

.vip_menu h1 {
    color: #78AA8C;
    text-align: center;
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 22px;
    letter-spacing: .3rem;
}

.vip_menu a{
    text-decoration: none;
    line-height: 2.2;
    display: block;
    color: #4B4B4B;
}

/* 該頁左側字綠色 */
.vip_menu a:last-child{
    color: #78AA8C;
} 

.vip_menu img{
    padding-left: 10px;
    padding-bottom: 10px;
}

/* ------content------ */

.table {
    width: 600px;
    height: 900px;
    border-radius: 50px;
    border: 3px solid #4B4B4B;
    margin: 270px auto 200px 36%;
    box-sizing: border-box;
}

.content {
    width: 500px;
    height: 1000px;
    margin: 60px auto;
    display: block;
}

.table h1 {
    color: #78AA8C;
    text-align: center;
    font-weight: 700;
    margin-bottom: 30px;
    font-size: 24px;
    letter-spacing: .3rem;
}

.table ul {
    display: flex;
    /* padding-bottom: 40px; */
}

.table span {
    font-size: 18px;
    padding: 0px 10px 0 10px;
}

.input1 span:nth-child(5){
    letter-spacing: -.03rem;
    /* Email */
}

.content input {
    border: 1px solid grey;
    border-radius: 20px;
    width: 400px;
    height: 60px;
    margin: 20px 0 10px 0;
    padding-left: 30px;
    box-sizing: border-box;
    display: block;

    font-size: 18px;
    font-weight: 300;
    color: #AAAAAA;
    background-image: url(../img/icon/edit.png);

    background-repeat: no-repeat;
    background-position: 354px 15px;
    background-size: 24px;
    display: inline-table;
}
    
.input1 input:nth-child(2){
    background-image: none;
} /* 除了姓名不能編輯 */



.gender {
    display: flex;
    align-items: center;
    
    /* height: 60px; */
}

.gender input {
    width: 30px;
    height: 30px;
    /* padding-left: 100px; */
    /* display: block; */
}

.gender ul {
    display: flex;
    align-items: center;
    height: 60px;
    padding-left: 100px;
}
.gender span{
    padding-right: 20px;
}

.table_birthday{
    align-items: center;
}

.table_birthday span{
    padding-right: 18px;
}

.table_birthday input{
    border: 1px solid grey;
    border-radius: 20px;
    width: 120px;
    height: 60px;
    margin: 10px 18px 0px 0;
    padding-left: 20px;
    box-sizing: border-box;
    display: block;

    font-size: 18px;
    font-weight: 300;
    color: #AAAAAA;
    background-image: url(../img/icon/V.png);
    background-repeat: no-repeat;
    background-position: 85px 20px;
    background-size: 18px;
}

.content > a {
    background-color: #78AA8C;
    text-decoration: none;
    color: #ffffff;
    letter-spacing: .5rem;
    display: block;
    margin: 40px auto 20px;
    width: 280px;
    height: 56px;
    text-align: center;
    line-height: 52px;
    border-radius: 16px;
} /* 儲存按鈕 */

.content > a:hover {
    background-color: #DC7878;
}








