@import url("reset.css");
@import url("../css/style.css");




/* ------content------ */

.table{
    width: 600px;
    height: 620px;
    border-radius: 50px;
    border: 3px solid #4B4B4B ;
    margin: 200px auto;
    box-sizing: border-box;
}

.content{
    width: 400px;
    /* height: 600px; */
    margin: 60px auto;
    display:block;
}

.table h1{
    color: #78AA8C;
    text-align: center;
    font-weight: 700;
    margin-bottom: 60px;
    font-size: 20px;
    letter-spacing: .3rem;
}

.input input {
    border: 1px solid #AAAAAA;
    border-radius: 20px;
    width: 400px;
    height: 60px;
    margin: 30px 0 20px 0;
    padding-left: 60px;
    box-sizing: border-box;
    display: block;

    font-size: 18px;
    font-weight: 300;
    color: #4B4B4B;
    background-repeat: no-repeat;
    background-position: 20px 15px;
    background-size: 22px;
    background-image: url(../img/icon/vip.svg);
}

input {
    outline: 0;
}

.content .input2 {
    display:flex;
    border: 1px solid #AAAAAA;
    border-radius: 20px;
    width: 400px;
    height: 60px;
    margin: 30px 0 20px 0;
    /* padding: 0px 0px 0px 20px; */
    box-sizing: border-box;

    font-size: 18px;
    font-weight: 300;
    color: #4B4B4B;
}

.content .input2 img {
    height: 24px;
    padding: 15px 4px 0 22px;
}

.input2 input {
    border: none;
    width: 300px;
    height: 58px;
    padding-left: 14px;
    box-sizing: border-box;

    font-size: 18px;
    font-weight: 300;
    color: #4B4B4B;
    line-height: 60px;
}

.input2 i {
    width: 57px;
    height: 60px;
    /* border: 1px solid #AAAAAA; */
    text-align: center;
    line-height: 60px;
    font-size: 18px;
    /* box-sizing: border-box; */
}

.input2 .fa-eye-slash {
    border-left: 0;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
    color: #AAAAAA;
}

.input2 .fa-eye-slash:hover {
    color: #333;
}

.table ul {
    display: flex;
    padding-bottom: 40px;
}

/* 核取方塊 */
.table li input{
    width: 28px;
    height: 28px;
    display: block;
    margin: 0 auto;
} 

/* 核取方塊往右推 */
.table li:first-child {
    padding-left: 4px;
 }

.table label {
    font-size: 18px;
    font-weight: 300;
    padding-left: 8px;
}

/* 登入按鈕 */
.content input[type="submit"]{
    background-color:#78AA8C;
    color: #ffffff;
    font-size: 18px;
    letter-spacing: .5rem;
    display: block;
    margin: 0 auto;
    width: 280px;
    height: 56px;
    border-radius: 16px;
    border: none;
} 

.content input[type="submit"]:hover {
    background-color: #DC7878;
}

/* 免費註冊 忘記密碼連結 */
.table ul:last-child {
    display: flex;
    justify-content: center;
}

.table ul a{
    color: #4B4B4B;
    padding: 20px 20px;
    font-size: 16px;
    font-weight: 300;
    display: block;
}

.table ul a:hover {
    color: #DC7878;
}


/* ------- RWD ------- */

@media screen and (max-width: 790px) {
    .table{
        width: 520px;
        height: 490px;
        border-radius: 36px;
    }
    .content{
        width: 360px;
        margin: 50px auto;
    }
    .table h1{
        font-size: 18px;
        margin-bottom: 40px;
    }
    .content input{
        font-size: 16px;
    }
    .input input {
        padding-left: 56px;
    }
    .input input, .content .input2{
        border-radius: 14px;
        width: 360px;
        height: 50px;
        background-size: 18px;
        margin: 22px 0 16px 0;
        
    }
    .content .input2 img {
        height: 20px;
        padding: 12px 4px 0 22px;
    }
    .input2 input {
        height: 48px;
    }
    .input2 i {
        line-height: 48px;
        font-size: 16px;
    }
    .table ul {
        padding-bottom: 30px;
    }
    /* 登入按鈕 */
    .content input[type="submit"]{
        font-size: 15px;
        width: 240px;
        height: 46px;
        border-radius: 12px;
    }
        /* 核取方塊 */
    .table li input{
        width: 20px;
    }
    .table label {
        font-size: 15px;
    }
    .table ul a{
        font-size: 14px;
    }
}

@media screen and (max-width: 650px){
    .table{
        width: 500px;
    }
}

@media screen and (max-width: 550px) {
    .table{
        width: 400px;
        height: 380px;
        border: 2px solid;
        border-radius: 30px;
    }
    .content{
        width: 300px;
        margin: 34px auto;
    }
    .table h1{
        font-size: 16px;
        margin-bottom: 20px;
    }
    .input input {
        padding-left: 52px;
    }
    .content input{
        font-size: 14px;
    }
     .input input, .content .input2{
        border-radius: 12px;
        width: 300px;
        height: 46px;
        background-size: 16px;
        margin: 18px 0 10px 0;
    }
    .content .input2 img{
        height: 17px;
        padding: 13px 4px 0 22px;
    }
    .input2 input {
        height: 44px;
    }
    .input2 i {
        line-height: 46px;
        font-size: 14px;
    }
    .table ul {
        padding-bottom: 20px;
    }
    /* 登入按鈕 */
    .content input[type="submit"]{
        font-size: 13px;
        width: 200px;
        height: 38px;
        border-radius: 10px;
    }
    /* 核取方塊 */
    .table li input{
        width: 16px;
    }
    .table label {
        font-size: 13px;
    }
    .table ul a{
        font-size: 12px;
    }   
}

@media screen and (max-width: 450px){
    .table{
        width: 340px;
        height: 360px;
        border-radius: 26px;
    }
    .content{
        width: 260px;
        margin: 30px auto;
    }
    .table h1{
        font-size: 15px;
        margin-bottom: 18px;
    }
    .input input {
        padding-left: 42px;
        background-position: 15px 14px;
    }
    .content input{
        font-size: 13px;
    }
     .input input, .content .input2{
        /* border-radius: 12px; */
        width: 260px;
        height: 44px;
        background-size: 14px;
        margin: 16px 0 8px 0;
    }
    .content .input2 img{
        height: 16px;
        padding: 13px 0px 0 16px;
    }
    .input2 input {
        height: 42px;
    }
    .input2 i {
        line-height: 42px;
        font-size: 12px;
    }
    .table ul {
        padding-bottom: 20px;
    }
    /* 登入按鈕 */
    .content input[type="submit"]{
        font-size: 12px;
        width: 180px;
        height: 34px;
    }
    /* 核取方塊 */
    .table li input{
        /* width: 16px; */
    }
    .table label {
        font-size: 12px;
    }
    .table ul a{
        font-size: 10px;
    }   
}





