@import url("reset.css");
@import url("../css/style.css");

/* -----title------- */

.title {
    display: flex;
    justify-content: center;
    margin: 200px auto 40px;
}

.title:nth-child(4) {
    margin: 100px auto 40px;
}

.title img {
    width: 30px;
    padding-right: 16px;
    /* padding-top: 40px; */
}

h1 {
    color: #78AA8C;
    font-size: 20px;
    font-weight: 700;
    display: inline-block;
    /* line-height: 1; */
    /* align-items: center; */
}

/* ------menu------ */
.menu {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
    width: 700px;
}

.menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
    width: 200px;
}

.menu li{
    width: 200px;
    padding: 0 20px;
}


.line {
    border-left: 1.5px solid #AAAAAA;
    border-right: 1.5px solid #AAAAAA;
}

.line2 {
    display: flex;
    justify-content: center;
}

.menu a {
    text-decoration: none;
    color: #4B4B4B;
    display: flex;
    align-items: center;
}

.menu a:hover {
    opacity: .7;
}

.menu img {
    padding-right: 8px;
}

/* ------content------ */

.content {
    max-width: 1200px;
    margin: 0px auto 120px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.content ul {
    flex-basis: 280px;
    margin: 20px 8px 30px;
}

.content li {
    flex-basis: 280px;
    box-sizing: border-box;
}

.content div {
    padding-left: 20px;
    padding-bottom: 4px;
}

.quantity {
    font-size: 12px;
    font-weight: 300;
    color: #AAAAAA;
}

.product_table {
    position: relative;
    z-index: -1;
}

.bi-heart, .bi-heart-fill {
    font-size: 24px;
    color: #DC7878;
    position: absolute;
    right: 20px;
}

.price {
    font-size: 16px;
    font-weight: 400;
    color: #78AA8C;
}

.original_price {
    font-size: 16px;
    font-weight: 300;
    color: #AAAAAA;
    text-decoration: line-through;
}

.button span {
    padding: 0 8px;
    align-items: center;
    font-size: 15px;
}

.button button {
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #78AA8C;
    color: #78AA8C;
    border-radius: 6px;
    height: 26px;
    width: 26px;
}

.button button:hover {
    background-color: rgba(220, 120, 120, 0);
    border: 2px solid #DC7878;
    color: #DC7878;
    font-weight: 700;
}

.fa-cart-shopping {
    padding-right: 4px;
}

.button .add_cart {
    background-color: #78AA8C;
    width: 118px;
    height: 26px;
    color: #ffffff;
    font-size: 14px;
    margin-left: 20px;
    border-radius: 8px;
}

.button .add_cart:hover {
    background-color: #DC7878;
    color: #ffffff;
}