@import url("reset.css");
@import url("../css/style.css");

/* -----title------- */

.title {
    display: flex;
    justify-content: center;
    margin: 270px auto 60px;
}

.title:nth-child(4) {
    margin: 120px auto 60px;
}

.title img {
    width: 36px;
    height: 36px;
    padding-right: 16px;
    /* padding-top: 40px; */
}

h1 {
    color: #78AA8C;
    font-size: 24px;
    font-weight: 700;
    display: inline-block;
    /* line-height: 1; */
    /* align-items: center; */
}

/* ------menu------ */
.menu {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
    width: 700px;
}

.menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
    width: 200px;
}

.menu li{
    width: 200px;
    padding: 0 20px;
}


.line {
    border-left: 1.5px solid #AAAAAA;
    border-right: 1.5px solid #AAAAAA;
}

.line2 {
    display: flex;
    justify-content: center;
}

.menu a {
    text-decoration: none;
    color: #4B4B4B;
    display: flex;
    align-items: center;
}

.menu a:hover {
    opacity: .7;
}

.menu img {
    padding-top: 6px;
    padding-right: 8px;
}

/* ------content------ */

.content {
    max-width: 1198px;
    margin: 0px auto;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 200px;
}


.content ul {
    display: flex;
    justify-content: left;
    /* flex-grow: 1; */
}

.content>ul {
    margin: 40px auto;
}

/* .product ul{
    display: flex;
    flex-wrap: wrap;
} */

.content li {
    justify-self: left;
}

.quantity {
    font-size: 18px;
    font-weight: 300;
    color: #AAAAAA;
}

.product_table {
    padding-left: 14px;
}

.price_table {
    padding-bottom: 8px;
}

.price {
    font-size: 22px;
    font-weight: 400;
    color: #78AA8C;
    padding-left: 14px;
}

.original_price {
    font-size: 20px;
    font-weight: 300;
    color: #AAAAAA;
    text-decoration: line-through;
}


.like {
    display: block;
    width: 26px;
    padding: 4px 0 0 44px;
    /* box-sizing: border-box; */
    align-items: center;
}

/* .product_table img:hover{
    content: url(../img/icon/like2.png);
} */

.button {
    padding-left: 14px;
}

/* ul .button{
    display: flex;
} */

.button li {
    display: flex;
    align-items: center;
}

.button p {
    padding: 0 10px;
    align-items: center;
    font-size: 18px;
}

.button button {
    /* margin: 4px 10px 0 0; */
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #78AA8C;
    color: #78AA8C;
    border-radius: 6px;
    height: 30px;
    width: 30px;
}

.button button:hover {
    /* margin: 4px 10px 0 0; */
    background-color: rgba(220, 120, 120, 0);
    border: 2px solid #DC7878;
    color: #DC7878;
    font-weight: 700;
}

.button .add_cart {
    background-color: #78AA8C;
    width: 118px;
    height: 30px;
    color: #ffffff;
    font-size: 15px;
    margin-left: 20px;
    border-radius: 8px;
}

.button .add_cart:hover {
    background-color: #DC7878;
    /* width: 114px; */
    /* height: 30px; */
    color: #ffffff;
    /* font-size: 15px; */
}

.fa-solid {
    padding-right: 2px;

}